#card1{
    background-color: gray;
    color: aliceblue;
}
h6  {   
    color: aqua;
}
#time1{
    color: aquamarine;
}

#nav{
    font-size: 45px;
    font-style: bold;
    justify-content: center;
}
#h2{
    font-size: 10px;
}
#date1{
    color: aquamarine;
;
}